html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1, h4, h2, h3{
	color: #CCB210;
	font-family: 'Questrial', sans-serif;
}

p, small{
	color: #A3A3A3;
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
}

footer p{
	color: rgb(36, 66, 66);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
}

nav, #whatwedo, #why-we, #welcome, #about-us, #contact-form, #testimonials, #our-work{
	background-color: rgb(27, 49, 49); 
}

#welcome h1{
	color: #A3A3A3;
	font-weight: normal; 
}

#welcome p{
	color: #CCB210;
}

.navbar-nav a{
	color: #999999;
}

#active {
	color: #b8b814;
}

.welcome-text{	
	background-image: url('pics/Asset 1.png');
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#btn {
	border-radius: 12px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #CCB210;
}

.icon{
	border-radius: 50%;
    min-width: 12px;
    height: 12px;
    line-height: 65px;
    text-align: center;
    font-size: 25px;	
    background-color: #CCB210;
}

input[type="text"], input[type="email"],textarea {
 	background-color: rgb(27, 49, 49); 
}

.big-icon {
    font-size: 32px;
}

footer{
	background-color: rgb(136, 143, 138);
}

.img-1{
	height: 650px;
  	width: 100%;
}

.dot {
    min-width: 12px;
    height: 12px;
  	background-color: #CCB210;
  	border-radius: 50%;
  	display: inline-block;
}

.back-img {
	position: absolute;
	bottom: 190px;
	right: 150px;
}

.img-5 {
	position: absolute;
	bottom: -190px;
	right: 150px;
}

.fab{
	color: black;
}

footer a {
    text-decoration: none;
}

#last a{
	text-decoration: none;
}